<%- include('header') -%>

    <form>
        <label class="form-label" for="username">Username:</label>
        <input class="form-control" name="username" id="username" placeholder="Enter Username" type="text" size="45">
        <label class="form-label" for="password">Password:</label>
        <input class="form-control" name="password" id="password" placeholder="Enter Password" type="password" size="45">
        <label class="form-label" for="remember">Remember Me</label>
        <input class="form-control" name="remember" id="remember" type="checkbox">
        <button class="" type="submit">Submit</button>
    </form>

<%- include('footer') -%> 