<%- include('header') -%>
    <% if (data != undefined) { %>
        <% if (data.error != undefined) { %>
        <!-- Toast by W3Schools Bootstrap then modified -->
        <div class="toast show">
            <div class="toast-header .text-warning">
                Error
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                <%=data.error%>
            </div>
        </div>
        <% } %>
    <% } %>
    <!-- Bootstrap learned from https://www.w3schools.com/bootstrap5/bootstrap_forms.php -->
    <div class="card mt-4 p-2">
        <div class="card-body">
            <form method="post" action="/login">
                <h3>Login</h3>
                <div class="">
                    <label class="form-label" for="username">Username:</label>
                    <input class="form-control" name="username" id="username" placeholder="Enter Username" type="text" size="20">
                </div>
                <div class="mb-3 mt-3">
                    <label class="form-label" for="password">Password:</label>
                    <input class="form-control" name="password" id="password" placeholder="Enter Password" type="password" size="20">
                </div>
                <div class="form-check mb-3>
                    <label class="form-check-label" for="remember">Remember Me</label>
                    <input class="form-check-input" name="remember" id="remember" type="checkbox">
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
<%- include('footer') -%> 