<%- include('header') -%>
    <% if (data.message != undefined) { %>
        <!-- Toast by W3Schools Bootstrap then modified -->
        <div class="toast show">
            <div class="toast-header .text-warning">
                Sever Message:
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                <%=data.message%>
            </div>
        </div>
    <% } %>
    <h1 class="pt-2"> User area </h1>
    <p>Welcome to your user area, select an option below to continue</p>
    <div class="row">
        <div class="col-md-4 pt-3">
            <a href="/booking"><img class="card-img-top" src="/public/img/bookingImg.jpg" alt="Card image"></a>
            <div class="card" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Booking</h4>
                    <p class="card-text">Book onto an upcoming session</p>
                    <a href="/booking" class="btn btn-primary">Book</a>
                </div>
            </div>
        </div>
        <% if (privilegeLevel >= 1) { %>
            <div class="col-md-4 pt-3">
                <div class="card" style="width:100%">
                    <a href="/boatDesign"><img class="card-img-top" src="/public/img/dragonBoatAtNight.jpg" alt="Card image"></a>
                    <div class="card-body">
                        <h4 class="card-title">Boat Design</h4>
                        <p class="card-text">Plan the boat for upcoming session and view details about who's paddling</p>
                        <a href="/boatDesign" class="btn btn-primary">Design</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-3">
                <div class="card" style="width:100%">
                    <a href="/makeSession"><img class="card-img-top" src="/public/img/boatCartoon1Img.jpg" alt="Card image"></a>
                    <div class="card-body">
                        <h4 class="card-title">Make session</h4>
                        <p class="card-text">Make sessions which can be booked onto by paddlers</p>
                        <a href="/makeSession" class="btn btn-primary">Create</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    

    
        
        
    
<%- include('footer') -%> 