<%- include('header') -%>
    <!-- Bootstrap learned from https://www.w3schools.com/bootstrap5/bootstrap_forms.php -->
    <div class="card mt-4 p-2">
        <div class="card-body">
            <form onsubmit="linkBoat()">
                <h3>Select the boat for the upcoming session</h3>
                <div class="pb-3">
                    <label class="form-label" for="boatID">Boat:</label>
                    <select class="form-select form-control" name="boatID" id="boatID">
                        <% for( let index = 0; index < boatList.length; index++ ) { %>
                            <option value=<%-boatList[index].boatID%> ><%-boatList[index].boatName%></option>
                        <% } %>
                    </select>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
<%- include('footer') -%> 